<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">


	<div class="pull-right hidden-xs">
		<b>Version</b> 1.0.0
	</div>
	<strong>Copyright <i class="fas fa-copyright"></i> 2019 <a
		href="https://itdchile.cl/">ITD Comunicacion Digital</a>.
	</strong> All rights
    reserved.
  


</ui:composition>