<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	<!-- Left side column. contains the logo and sidebar -->

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<p:graphicImage name="images/img/user2-160x160.jpg"
					class="img-circle" alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<!-- 		<h:form action="#" class="sidebar-form" prependId="false">
			<div class="input-group">
				<p:inputText type="text" name="q" id="inputMenu"
					class="form-control" placeholder="Buscar...">
					<span class="input-group-btn">
						<button type="submit" name="search" id="search-btn"
							class="btn btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</p:inputText>
			</div>
		</h:form> -->
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul id="menu" class="sidebar-menu" data-widget="tree">
			<li class="header">MAIN NAVIGATION</li>
			<li class="treeview"><a href="#"> <i
					class="fas fa-tachometer-alt "></i> <span>Dashboard</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class=" treeview-menu">
					<li class=""><a
						href="#{request.contextPath}/views/Admin/index.xhtml"><i
							class="far fa-circle"></i> Dashboard </a></li>
				</ul></li>

			<li class="treeview"><a href="#"> <i class="fas fa-history "></i>
					<span>Historial</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class=" treeview-menu">
					<li class=""><a
						href="#{request.contextPath}/views/Admin/Modules/Historic/Recsa/index.xhtml"><i
							class="far fa-circle"></i> Recsa </a></li>
				</ul></li>

			<li class="treeview"><a href="#"> <i class="fas fa-cogs"></i>
					<span>Config</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li class=""><a
						href="#{request.contextPath}/views/Admin/Modules/Conections/index.xhtml"><i
							class="far fa-circle"></i> Conexiones </a></li>
				</ul></li>

			<li><a
				href="#{request.contextPath}/views/Admin/Modules/Processes/index.xhtml">
					<i class="fas fa-running"></i> <span>Procesos</span>

			</a></li>

		</ul>
	</section>
	<!-- /.sidebar -->
</ui:composition>