<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Configuracion de Conexiones" />
	</ui:define>

	<ui:define name="content">

		<section class="content-header">
			<h1>
				Configuración <small> Conexiones </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"> Configuración</a></li>
				<li class="active">Conexiones</li>
			</ol>

			<section class="content">
				<h:form prependId="false" id="formMain">
					<p:growl id="growl" showDetail="true" widgetVar="growl" />

					<div class="row">
						<p:panel id="filterPanel" styleClass="ui-main-panel"
							header="Acciones">
							<h:panelGroup>
								<p:commandButton styleClass="ui-main-button-primary "
									immediate="true" value="Nuevo"
									oncomplete="PF('dlg1').show();PF('bui').hide();"
									onstart="PF('bui').show();"
									action="#{conectionController.createNew}"
									update="growl :formDialog ">
									<p:resetInput target="dlg1" />
								</p:commandButton>

							</h:panelGroup>
						</p:panel>
					</div>

					<div class="row">
						<p:panel id="tablePanel" styleClass="ui-main-panel">
							<p:dataTable var="item" value="#{conectionController.connList}"
								reflow="true" rows="25" id="tableConections"
								widgetVar="tableConections" rowsPerPageTemplate="25,50,75,100"
								rowIndexVar="rowNumber" paginator="true"
								filteredValue="#{conectionController.filteredConnList}"
								paginatorPosition="bottom" scrollable="false"
								currentPageReportTemplate="({currentPage} de {totalPages})"
								paginatorTemplate="{totalPages} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
								styleClass="ui-main dataTable">

								<f:facet name="{totalPages}">
									<h:outputLabel
										value="Cantidad de Registros: #{conectionController.connList.size()}"
										rendered="#{conectionController.connList != null}"></h:outputLabel>
								</f:facet>

								<f:facet name="{Exporters}">
									<h:commandLink
										style="margin-right:15px;text-decoration:none;padding:2px;">
										<p:dataExporter type="pdf" target="tableConections"
											fileName="Consumo"></p:dataExporter>
										<p:graphicImage name="images/tables/iconopdfcolor2.png"
											style="width: 25px;" />
									</h:commandLink>
									<h:commandLink style="margin-right:15px;text-decoration:none;">
										<p:dataExporter type="xls" target="tableConections"
											fileName="Consumo"></p:dataExporter>
										<p:graphicImage name="images/tables/iconoexcelcolor2.png"
											style=" width: 25px;" />
									</h:commandLink>
								</f:facet>
								<p:column headerText="" width="100" styleClass="ui-col-center">
									<div
										class="col-sm-12 col-md-6 text-center ui-main-button-table-action">
										<p:commandLink title="Editar" oncomplete="PF('bui').hide();"
											onstart="PF('bui').show();"
											update="growl :formDialog tablePanel"
											action="#{conectionController.updateConection(item.id)}">
											<i class="far fa-edit"></i>
											<p:resetInput target="dlg1" />
										</p:commandLink>
									</div>
									<div
										class="col-sm-12 col-md-6 text-center ui-main-button-table-action">
										<p:commandLink title="Eliminar" oncomplete="PF('bui').hide();"
											onstart="PF('bui').show();"
											update="growl :formDialog tablePanel"
											action="#{conectionController.deleteConnection(item.id)}">
											<i class="far fa-trash-alt"></i>
											<p:confirm header="Confirmación"
												message="Desea eliminar el registro?"
												icon="fas fa-question-circle" />
										</p:commandLink>
									</div>
								</p:column>
								<p:column headerText="Nombre">
									<h:outputText value="#{item.name}" />
								</p:column>
								<p:column headerText="IP" styleClass="ui-col-center">
									<h:outputText value="#{item.conn_ip}" />
								</p:column>
								<p:column headerText="Usuario" styleClass="ui-col-center">
									<h:outputText value="#{item.conn_user}" />
								</p:column>
								<p:column headerText="In Repo" styleClass="ui-col-center">
									<h:outputText
										value="#{item.in_repo == '' ? 'N/A':item.in_repo}" />
								</p:column>
								<p:column headerText="Out Repo" styleClass="ui-col-center">
									<h:outputText
										value="#{item.out_repo == '' ? 'N/A':item.out_repo}" />
								</p:column>
								<p:column headerText="Input Time" styleClass="ui-col-number">
									<h:outputText value="#{item.generate_input_time}">
										<f:convertNumber pattern="###,###,###ms" locale="es_CL" />
									</h:outputText>
								</p:column>
								<p:column headerText="Output Time" styleClass="ui-col-number">
									<h:outputText value="#{item.generate_output_time}">
										<f:convertNumber pattern="###,###,###ms" locale="es_CL" />
									</h:outputText>
								</p:column>
								<p:column headerText="Not Processed" styleClass="ui-col-number">
									<h:outputText value="#{item.not_processed_time}">
										<f:convertNumber pattern="###,###,###ms" locale="es_CL" />
									</h:outputText>
								</p:column>
							</p:dataTable>
						</p:panel>
					</div>
				</h:form>

				<h:form prependId="false" id="formDialog">
					<p:dialog header="#{conectionController.dialogTitle}" id="dlg1"
						closable="false" widgetVar="dlg1" modal="true" draggable="false"
						resizable="false" height="auto" width="600">
						<ui:include src="modal/add.xhtml" />
					</p:dialog>

				</h:form>

			</section>

		</section>

	</ui:define>

</ui:composition>
