<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Configuracion de Conexiones" />
	</ui:define>

	<ui:define name="content">

		<section class="content-header">
			<h1>Procesos</h1>
			<ol class="breadcrumb">
				<li><a href="#"> Procesos</a></li>
			</ol>

			<section class="content">

				<h:form prependId="false" id="formMain">
					<p:growl id="growl" showDetail="true" widgetVar="growl" />
					<p:poll interval="60" listener="#{processesController.getData}"
						update="growl tablePanel" onstart="PF('bui').show();"
						oncomplete="PF('bui').hide();" />
					<div class="row">

						<p:panel id="tablePanel" styleClass="ui-main-panel">
							<div class="row ui-main">
								<p:commandButton styleClass="ui-main-button-error "
									icon="far fa-stop-circle" immediate="true"
									value="Detener Todos"
									oncomplete="PF('dlg1').show();PF('bui').hide();"
									onstart="PF('bui').show();"
									action="#{processesController.stopAllProcess}"
									update="growl tablePanel">
								</p:commandButton>
							</div>
							<div class="row">
								<p:dataTable var="item"
									value="#{processesController.oldProcessList}" reflow="true"
									rows="25" id="tableList" widgetVar="tableList"
									rowsPerPageTemplate="25,50,75,100" rowIndexVar="rowNumber"
									paginator="true"
									filteredValue="#{processesController.filteredoldProcessList}"
									paginatorPosition="bottom" scrollable="false"
									currentPageReportTemplate="({currentPage} de {totalPages})"
									paginatorTemplate="{totalPages} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
									styleClass="ui-main dataTable">

									<f:facet name="{totalPages}">
										<h:outputLabel
											value="Cantidad de Registros: #{processesController.oldProcessList.size()}"
											rendered="#{processesController.oldProcessList != null}"></h:outputLabel>
									</f:facet>

									<f:facet name="{Exporters}">
										<h:commandLink
											style="margin-right:15px;text-decoration:none;padding:2px;">
											<p:dataExporter type="pdf" target="tableConections"
												fileName="Consumo"></p:dataExporter>
											<p:graphicImage name="images/tables/iconopdfcolor2.png"
												style="width: 25px;" />
										</h:commandLink>
										<h:commandLink style="margin-right:15px;text-decoration:none;">
											<p:dataExporter type="xls" target="tableConections"
												fileName="Consumo"></p:dataExporter>
											<p:graphicImage name="images/tables/iconoexcelcolor2.png"
												style=" width: 25px;" />
										</h:commandLink>
									</f:facet>
									<p:column headerText="" width="100" styleClass="ui-col-center">
										<div
											class="col-sm-12 col-md-12 text-center ui-main-button-table-action">
											<p:commandLink title="Eliminar"
												oncomplete="PF('bui').hide();" onstart="PF('bui').show();"
												update="growl tablePanel"
												action="#{processesController.refresh}">
												<i class="far fa-stop-circle"></i>
												<p:confirm header="Confirmación"
													message="Desea eliminar el proceso?"
													icon="fas fa-question-circle" />
											</p:commandLink>
										</div>
									</p:column>

									<p:column headerText="Tipo" styleClass="ui-col-center">
										<h:outputText value="#{item.jobType.description}" />
									</p:column>

									<p:column headerText="Proceso" styleClass="ui-col-center">
										<h:outputText value="#{item.processType.name}" />
									</p:column>

									<p:column headerText="Iniciado En">
										<h:outputText value="#{item.created_at}">
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" locale="es_CL" />
										</h:outputText>
									</p:column>

									<p:column headerText="Tiempo de Ejecución"
										styleClass="ui-col-code">
										<h:outputText value="#{item.executionTime}" />
									</p:column>

									<p:column headerText="Hilo Activo" styleClass="ui-col-center">
										<h:outputLabel rendered="#{item.threadActive eq false}">
											<i class="fas fa-times"></i>
										</h:outputLabel>

										<h:outputLabel rendered="#{item.threadActive eq true}">
											<i class="fas fa-check"></i>
										</h:outputLabel>
									</p:column>

								</p:dataTable>
							</div>
						</p:panel>
					</div>
				</h:form>

			</section>

		</section>

	</ui:define>

</ui:composition>
