<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Home" />

	</ui:define>

	<ui:define name="content">
		<section class="content-header">
			<h1>404 Error Page</h1>
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="error-page">
				<h2 class="headline text-yellow">404</h2>

				<div class="error-content">
					<h3>
						<i class="fa fa-warning text-yellow"></i> Oops! Page not found.
					</h3>

					<p>
						We could not find the page you were looking for. Meanwhile, you
						may <a href="#{request.contextPath}/views/Admin/index.xhtml">return to dashboard</a>.
					</p>

				</div>
				<!-- /.error-content -->
			</div>
			<!-- /.error-page -->
		</section>
	</ui:define>

</ui:composition>
