<?xml version='1.0' encoding='UTF-8' ?>
<!-- Definimos las Etiquetas validas en nuestro codigo -->
<!-- ****************************************************** -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>

	<link rel="icon" type="image/x-icon"
		href="#{resource['images/favicon.ico']}" />
	<title>Login</title>
	<h:outputStylesheet name="css/bootstrap/bootstrap.min.css"></h:outputStylesheet>
	<!-- Font Awesome -->
	<h:outputStylesheet name="css/fontawesome/css/all.css"></h:outputStylesheet>
	<!-- Ionicons -->

	<!-- Theme style -->
	<h:outputStylesheet name="css/adminlte/AdminLTE.min.css"></h:outputStylesheet>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

	<!-- Google Font -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</link>
	<f:metadata>
		<f:viewParam name="errorLogin" value="#{bean.error}" />
	</f:metadata>
	<style>
.login-page, .register-page {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
	background: rgb(254, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 0%,
		rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 0%,
		rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%,
		rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff',
		endColorstr='#a0d8ef', GradientType=0); /* IE6-9 */
}
</style>
</h:head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>Gestion</b> Ida Custom</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Inicia Sesion</p>

			<!--  
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				<h4>
					<i class="icon fa fa-ban"></i> Alerta!
				</h4>
				Usuario o contraseña invalidos.
			</div>
-->

			<form action="#{request.contextPath}/appLogin" method="post">
				<div class="form-group has-feedback">
					<!--  <p:inputText name="username" id="username" required="required" 
						class="form-control" placeholder="Usuario"></p:inputText>
					-->
					<input type="text" name="app_username" class="form-control"
						placeholder="Usuario" /> <span
						class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<!-- 	<p:password id="password" required="required" autocomplete="off"
						name="password" class="form-control" placeholder="Contraseña"></p:password> -->
					<input type="password" name="app_password" class="form-control"
						placeholder="Contraseña" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">

					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
							In</button>
					</div>
					<!-- /.col -->
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</form>



		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- jQuery 3 -->



</body>
</html>
