<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Home" />

	</ui:define>

	<ui:define name="content">
		<section class="content-header">
			<h1>500 Error Page</h1>

		</section>

		<section class="content">

			<div class="error-page">
				<h2 class="headline text-red">500</h2>

				<div class="error-content">
					<h3>
						<i class="fa fa-warning text-red"></i> Oops! Something went wrong.
					</h3>
					<p>We will work on fixing that right away.</p>
				</div>
			</div>

		</section>
	</ui:define>

</ui:composition>
