<?xml version='1.0' encoding='UTF-8' ?>
<!-- Definimos las Etiquetas validas en nuestro codigo -->
<!-- ****************************************************** -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<!-- ****************************************************** -->
<!-- Definimos las Importaciones necesarias para el template principal -->
<!-- ******************************************************************************************************************** -->

<ui:insert name="metadata" />

<h:head>

	<link rel="icon" type="image/x-icon"
		href="#{resource['images/favicon.ico']}" />

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<title>#{title}</title>

	<h:outputStylesheet name="css/bootstrap/bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/font-awesome/css/font-awesome.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/ionicons/css/ionicons.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/adminlte/AdminLTE.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/skins/skin-blue.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/jvectormap/jquery-jvectormap.css"></h:outputStylesheet>
	<h:outputStylesheet
		name="css/bootstrap-daterangepicker/daterangepicker.css"></h:outputStylesheet>
	<h:outputStylesheet
		name="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"></h:outputStylesheet>

</h:head>

<h:body class="hold-transition skin-blue sidebar-mini">
	<style>
.content-wrapper, .main-footer {
	margin-left: 0!important;
}
</style>
	<div class="wrapper">

		<div class="content-wrapper">

			<ui:insert name="content">
			</ui:insert>

		</div>

		<footer class="main-footer app-footer">
			<ui:include src="/includes/footer.xhtml"></ui:include>
		</footer>

	</div>

	<h:outputScript name="js/jquery/jquery.min.js"></h:outputScript>

	<h:outputScript name="js/jquery-ui/jquery-ui.min.js"></h:outputScript>
	<h:outputScript name="js/jquery-sparkline/jquery.sparkline.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap/bootstrap.min.js"></h:outputScript>
	<h:outputScript name="js/jvectormap/jquery-jvectormap-1.2.2.min.js"></h:outputScript>
	<h:outputScript name="js/jvectormap/jquery-jvectormap-world-mill-en.js"></h:outputScript>
	<h:outputScript name="js/jquery-slimscroll/jquery.slimscroll.min.js"></h:outputScript>
	<h:outputScript name="js/fastclick/fastclick.js"></h:outputScript>
	<h:outputScript name="js/adminlte/adminlte.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap-daterangepicker/daterangepicker.js"></h:outputScript>
	<h:outputScript
		name="js/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></h:outputScript>
	<h:outputScript name="js/pages/dashboard.js"></h:outputScript>
	<h:outputScript name="js/script.js"></h:outputScript>

</h:body>
</html>