@charset "ISO-8859-1";

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
		sans-serif !important;
	display: grid;
	font-family: Avenir;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.ui-main-panel {
	margin-bottom: 0.5rem !important;
	padding: 0.5rem !important;
	border: none !important;
	border-radius: 0.5rem !important;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}

}
.content-wrapper {
	background-color: #e1f3ec !important
}

.ui-panel .ui-panel-titlebar {
	background: #3c8dbc !important;
	border: none !important;
	color: #fff !important;
	text-decoration: none !important;
	text-shadow: none !important;
	font-weight: inherit !important;
	margin: -0.5rem -0.5rem 0.5rem -0.5rem;
	border-radius: 0 !important;
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
}

.ui-growl-item-container {
	margin: 1rem 0 1rem 0 !important;
	border-radius: 0.2rem;
	background: #3c8dbc
		-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)),
		to(rgba(0, 0, 0, 0)));
}

@media ( max-width : 35em ) {
	.ui-growl-item-container {
		margin: 6rem 0 1rem 0 !important;
	}
}

/* Scrollbar Styles
*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #222d32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* End Scrollbar Styles
*/