/*Hover botones */
/* .ui-main-button {
	border: solid #00000033 0.1rem !important;
} */
.ui-main-button-success-finally:hover {
	background-color: #11943F !important;
}

.ui-main-button-table-action {
	color: #c7a9a9 !important;
	padding: 0.5rem 0.5rem;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .55;
	filter: Alpha(Opacity = 55);
}

.ui-main-button-primary {
	background: #5ab4da !important;
	background-color: #5ab4da !important;
	color: #fff !important;
}

.ui-main-button-primary a {
	color: #fff;
}

.ui-main-button-primary:hover {
	background-color: #0e6390 !important;
}

.ui-main-button-success {
	background-color: #8cbf26 !important;
	color: #fff !important;
}

.ui-main-button-success-finally {
	background-color: #2BCB63 !important;
	color: #fff !important;
}

.ui-main-button-error {
	background-color: #F24304 !important;
	color: #fff !important;
	text-shadow: none !important;
}

.ui-main-button-error:hover {
	background-color: #C33C0B !important;
}

@media ( max-width : 35em ) {
	.ui-main-button-table-action {
		background: #5ab4da !important;
		background-color: #5ab4da !important;
		color: #fff !important;
		padding: 0.5rem 0.5rem;
		margin: 0.2rem;
	}
	.ui-main-button-table-action a {
		color: #fff;
	}
}