.ui-spinner-button {
	color: #333333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
	cursor: pointer !important;
	border: none !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
		!important;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
	border-bottom-color: #b3b3b3 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e6e6e6', GradientType=0) !important;
	filter: progid:dximagetransform.microsoft.gradient(enabled=false)
		!important;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05) !important;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05) !important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05) !important;
}

input .ui-inputfield, .ui-widget-content .ui-inputfield, input .ui-widget-header .ui-inputfield
	{
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
	border-color: transparent;
	border-bottom: 0.2rem solid #c8ccd4 !important;
	transition: all 0.2s ease;
}

.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 280px;
}

.inp .icon-see {
	position: absolute;
	top: 0;
	right: 4rem;
	font-size: 1.3rem;
	color: #9098a9;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}

.inp .label {
	position: absolute;
	top: -15px;
	left: 0;
	font-size: 1.3rem;
	color: #9098a9;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}

.inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.2;
	width: 100%;
	background: #07f;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
}

.inp input {
	-webkit-appearance: none;
	width: 95%;
	font-family: inherit;
	padding: 1rem 1rem;
	height: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	background: none;
	border-radius: 0;
	color: #223254;
	transition: all 0.15s ease;
}