@import url("#{resource['css/primeFaces/buttons.css']}");

@import url("#{resource['css/primeFaces/inputs.css']}");

@import url("#{resource['css/primeFaces/tables.css']}");

.ui-state-default {
	box-shadow: none;
}

.ui-main {
	border-radius: 0px;
	border: none;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.5rem;
	color: #999 !important;
	margin: 0;
	min-height: 1.25rem;
	box-shadow: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

form {
	margin: 0 !important;
}

.ui-dialog-titlebar {
	font-weight: normal !important;
	background: #3c8dbc !important;
	color: #fff !important;
}

.ui-growl {
	position: fixed !important;;
	top: 4.5rem !important;;
	right: 1rem !important;;
	width: 30rem !important;;
}

.ui-outputlabel .ui-outputlabel-rfi {
	display: none;
}

.ui-blockui-content {
	position: absolute;
	text-align: center;
	padding: 1em;
	background: none;
	background-color: transparent;
	box-shadow: none !important;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: right !important;
}

.ui-confirm-dialog .ui-dialog-content {
	font-weight: bold;
}