.ui-datatable table {
	border-collapse: collapse;
	min-width: 100%;
}

.ui-datatable {
	background-color: #fff0;
	margin-top: 0px !important;
}

.ui-datatable-empty-message {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	color: #c09853;
	text-align: center;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	background: none;
	text-shadow: none;
}

.ui-datatable-tablewrapper {
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}

/***********************************************
********************* HEADER *******************
***********************************************/
.ui-datatable-header {
	background-color: #fff;
	color: #000000;
	text-shadow: none;
	font-family: sans-serif;
	background-image: none !important;
}

.ui-main-table-header {
	background-color: #fff !important;
}

.ui-column-title {
	color: #fff;
	text-shadow: none;
	font-size: 1.3rem;
	border: none;
}

.ui-datatable-scrollable-header {
	background-color: #fff !important;
	margin-top: 1px
}

.ui-datatable-scrollable-header-box {
	margin-bottom: 2px;
	border: none;
	margin-right: 8px !important;
}

/***********************************************
********************* BODY *******************
***********************************************/
.ui-datatable tbody td {
	padding: 0.5rem 0 !important;
}

.ui-widget-content {
	border: 0 solid #a8a8a8;
	background: #fff;
	color: #4f4f4f;
	/* padding: 0.1rem !important; */
}

td.datatable-text-right {
	text-align: right;
}

tr[role=row]:hover td {
	background-color: #A8B9D6 !important;
	color: #fff !important;
	border-right: none !important;
}

th[role=columnheader] {
	border: none !important;
	background-color: #3c8dbc !important;
	height: 4rem;
}

tr[role=row]:hover {
	background-color: red;
	background-color: #A8B9D6 !important;
	color: #fff;
}

td {
	font-size: 1.2rem;
}

.ui-icon {
	padding: 0px;
}

.ui-row-editing {
	background-color: #a8b9d6 !important;
	text-align: center !important;
	background-image: none !important;
}

.ui-datatable-scrollable-body {
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: #fff;
	white-space: nowrap;
}

.ui-datatable-scrollable-body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #ccd9f0 !important;
}

.ui-datatable-scrollable-body button {
	border: none !important;
	box-shadow: none !important;
}

/***********************************************
********************* FOOTER *******************
***********************************************/
.ui-datatable-footer {
	background-color: #D9E9F5 !important;
	border-radius: 0px;
	border-color: #fff;
	border-top: none;
	color: #000;
	height: 25px;
}

/***********************************************
******************* PAGINATOR ******************
***********************************************/
.ui-paginator-bottom {
	background-color: #fff !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: none !important;
	border-top: 1rem solid #d2d6de;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
	font-size: 0.8em !important;
}

.ui-paginator-rpp-options {
	margin-top: 5px;
	min-height: 25px !important;
	margin-bottom: 7px;
	padding: 0px;
	background-color: #fff !important;
}

.ui-paginator-page {
	background-color: rgba(230, 230, 230, 0);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
}

.ui-paginator-rpp-options {
	width: 55px;
	height: 20px;
}

.ui-paginator .ui-paginator-next .ui-icon, .ui-paginator .ui-paginator-prev .ui-icon,
	.ui-paginator .ui-paginator-first .ui-icon, .ui-paginator .ui-paginator-last .ui-icon
	{
	height: 14px;
}

/***********************************************
***************** COLUMNS COLOR ****************
***********************************************/
table td.ui-col-number {
	text-align: center;
	padding: 0;
}

.ui-col-quantity {
	text-align: right;
	padding: 0;
}

table td.ui-col-center {
	text-align: center;
	padding: 0;
}

.ui-col-code {
	font-weight: bold;
}

.ui-col-status-0 {
	color: red;
}

.ui-col-status-1 {
	color: green;
}

.ui-col-status-2 {
	color: #bbb;
}

.ui-datatable table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.ui-datatable-tablewrapper {
	overflow: auto;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	text-align: center;
	padding: 4px 10px;
}

.ui-datatable .ui-datatable-header {
	border-bottom: 0px none;
}

.ui-datatable .ui-datatable-footer {
	border-top: 0px none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	text-align: center;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	overflow: hidden;
	border-width: 0 !important;
}

/*resizer */
.ui-datatable .ui-column-resizer {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	width: 8px;
	height: 20px;
	padding: 0px;
	cursor: col-resize;
	background-image: url("#{resource['primefaces:spacer/dot_clear.gif']}");
	border: 1px solid transparent;
}

.ui-datatable .ui-filter-column .ui-column-resizer {
	height: 45px;
}

.ui-datatable .ui-column-resizer-helper {
	width: 1px;
	position: absolute;
	z-index: 10;
	display: none;
}

.ui-datatable-resizable {
	padding-bottom: 1px; /*fix for webkit overlow*/
	overflow: auto;
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td,
	.ui-datatable-resizable tfoot td {
	white-space: nowrap;
}

.ui-datatable-resizable table {
	table-layout: fixed;
}

.ui-datatable-resizable th.ui-resizable-column {
	background-clip: padding-box;
	position: relative;
}

.ui-datatable-rtl {
	direction: rtl;
}

.ui-datatable-rtl.ui-datatable thead th, .ui-datatable-rtl.ui-datatable tfoot td
	{
	text-align: right;
}

/* Frozen Columns */
.ui-datatable table.ui-datatable-fs {
	width: auto;
}

.ui-datatable .ui-datatable-frozenlayout-left, .ui-datatable .ui-datatable-frozenlayout-right
	{
	padding: 0;
	border: 0 none;
	vertical-align: top;
}

.ui-datatable .ui-datatable-frozen-container {
	margin-right: -1px;
}

.ui-datatable-frozen-container .ui-datatable-scrollable-body {
	overflow: hidden;
}

.ui-datatable .ui-datatable-frozen-container .ui-row-toggler {
	margin-top: -2px;
	margin-bottom: -2px;
}

.ui-datatable .ui-datatable-frozen-container .ui-row-editor {
	margin-top: -2px;
	margin-bottom: -2px;
}

.ui-datatable-frozenlayout-right .ui-datatable-empty-message td {
	visibility: hidden;
}

/* Hide all prioritized columns by default */
@media only all {
	th.ui-column-p-6, td.ui-column-p-6, th.ui-column-p-5, td.ui-column-p-5,
		th.ui-column-p-4, td.ui-column-p-4, th.ui-column-p-3, td.ui-column-p-3,
		th.ui-column-p-2, td.ui-column-p-2, th.ui-column-p-1, td.ui-column-p-1
		{
		display: none;
	}
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
	th.ui-column-p-1, td.ui-column-p-1 {
		display: table-cell;
	}
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
	th.ui-column-p-2, td.ui-column-p-2 {
		display: table-cell;
	}
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
	th.ui-column-p-3, td.ui-column-p-3 {
		display: table-cell;
	}
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
	th.ui-column-p-4, td.ui-column-p-4 {
		display: table-cell;
	}
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
	th.ui-column-p-5, td.ui-column-p-5 {
		display: table-cell;
	}
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
	th.ui-column-p-6, td.ui-column-p-6 {
		display: table-cell;
	}
}

/** Reflow **/
.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
	display: none;
}

@media ( max-width : 35em ) {
	.ui-datatable-reflow thead th, .ui-datatable-reflow tfoot td {
		display: none;
	}
	.ui-datatable-reflow .ui-datatable-data td {
		text-align: left;
		display: block;
		border: 0px none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
	}
	.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
		padding: .4em;
		min-width: 30%;
		display: inline-block;
		margin: -.4em 1em -.4em -.4em;
		color: #4f4f4f;
		font-weight: bold;
	}
}