<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Home" />

	</ui:define>

	<ui:define name="content">
		<section class="content-header">
			<h1>
				Home <small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"> Home</a></li>
			</ol>

			<section class="content">

				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i
								class="ion ion-ios-gear-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Procesados Abertis</span> <span
									class="info-box-number">#{indexController.initialData.abertisProcessed}</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i
								class="ion ion-ios-gear-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Procesados Afianza</span> <span
									class="info-box-number">#{indexController.initialData.afianzaProcessed}</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i
								class="ion ion-ios-gear-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Procesados Normaliza</span> <span
									class="info-box-number">#{indexController.initialData.normalizaProcessed}</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<!-- 	<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i
								class="ion ion-ios-gear-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Likes</span> <span
									class="info-box-number">41,410</span>
							</div>
							/.info-box-content
						</div>
						/.info-box
					</div>
					/.col

					fix for small devices only
					<div class="clearfix visible-sm-block"></div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i
								class="ion ion-ios-cart-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Sales</span> <span
									class="info-box-number">760</span>
							</div>
							/.info-box-content
						</div>
						/.info-box
					</div>
					/.col
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i
								class="ion ion-ios-people-outline"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">New Members</span> <span
									class="info-box-number">2,000</span>
							</div>
							/.info-box-content
						</div>
						/.info-box
					</div>
					 -->
				</div>
			</section>
		</section>
	</ui:define>

</ui:composition>
