<?xml version='1.0' encoding='UTF-8' ?>
<!-- Definimos las Etiquetas validas en nuestro codigo -->
<!-- ****************************************************** -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<!-- ****************************************************** -->
<!-- Definimos las Importaciones necesarias para el template principal -->
<!-- ******************************************************************************************************************** -->

<ui:insert name="metadata" />

<h:head>

	<link rel="icon" type="image/x-icon"
		href="#{resource['images/favicon.ico']}" />

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="_csrf" content="${_csrf.token}" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<title>#{title}</title>

	<h:outputStylesheet name="css/bootstrap/bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/fontawesome/css/all.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/ionicons/css/ionicons.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/adminlte/AdminLTE.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/skins/skin-blue.min.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/primeFaces/prime-itd.css"></h:outputStylesheet>
	<h:outputStylesheet name="css/style.css"></h:outputStylesheet>

</h:head>

<h:body id="bodyPage" class="hold-transition skin-blue sidebar-mini">

	<div class="wrapper">
		<header class="main-header">
			<ui:insert name="topbar">
				<ui:include src="/includes/top-bar.xhtml"></ui:include>
			</ui:insert>
		</header>
		<aside class="main-sidebar">
			<ui:include src="/includes/menu.xhtml"></ui:include>
		</aside>
		<div class="content-wrapper">

			<ui:insert name="content">
			</ui:insert>

		</div>

		<!-- 	<footer class="main-footer app-footer">
			<ui:include src="/includes/footer.xhtml"></ui:include>
		</footer> -->

	</div>
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript name="js/bootstrap/bootstrap.min.js"></h:outputScript>
	<h:outputScript name="js/adminlte/adminlte.min.js"></h:outputScript>
	<h:outputScript name="js/script.js"></h:outputScript>

	<p:blockUI block="bodyPage" widgetVar="bui" id="bui">
		<p:graphicImage name="/images/ajax-loader.gif" />
	</p:blockUI>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Cancelar" type="button"
			styleClass="ui-confirmdialog-no ui-main-button-error"
			icon="fas fa-times" />
		<p:commandButton value="OK" type="button"
			styleClass="ui-confirmdialog-yes ui-main-button-success"
			icon="fas fa-check" />

	</p:confirmDialog>
</h:body>
</html>