<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template.xhtml">

	<ui:define name="metadata">
		<ui:param name="title" value="Configuracion de Conexiones" />
	</ui:define>

	<ui:define name="content">

		<section class="content-header">
			<h1>
				Historico <small> Recsa </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"> Historico</a></li>
				<li class="active">Recsa</li>
			</ol>

			<section class="content">

				<h:form prependId="false" id="formMain">
					<p:growl id="growl" showDetail="true" widgetVar="growl" />

					<div class="row">
						<p:panel id="filterPanel" styleClass="ui-main-panel"
							header="Acciones">
							<h:panelGroup>
								<p:commandButton styleClass="ui-main-button-primary "
									immediate="true" value="Nuevo"
									oncomplete="PF('dlg1').show();PF('bui').hide();"
									onstart="PF('bui').show();"
									action="#{historicRecsaController.refresh}" update="growl  ">
								</p:commandButton>

							</h:panelGroup>
						</p:panel>
					</div>

					<div class="row">
						<p:panel id="testPanel" styleClass="ui-main-panel"
							header="Acciones">
							<h:panelGroup>
							
							
							
								<table style="width: 100%; border-collapse: collapse">
									<tbody>
										<tr>
											<td
												style="font: 14px/1.4285714 Arial, sans-serif; padding: 0">
												<table style="width: 100%; border-collapse: collapse">
													<tbody>
														<tr>

															<td id="m_-3559479355100869877content"
																style="font: 14px/1.4285714 Arial, sans-serif; padding: 0 0 0 10px">

																<table style="width: 100%; border-collapse: collapse">
																	<tbody>
																		<tr>
																			<td
																				style="font: 14px/1.4285714 Arial, sans-serif; padding: 0; line-height: 1">
																				<span> <strong>Iniciado/Finalizado/Error</strong>

																			</span>
																			</td>
																		</tr>
																		<tr>
																			<td
																				style="font: 14px/1.4285714 Arial, sans-serif; padding: 5px 0 0; font-weight: bold; line-height: 1.2">

																			</td>
																		</tr>
																		<tr>
																			<td
																				style="font: 14px/1.4285714 Arial, sans-serif; padding: 10px 0 20px">


																				<table
																					style="width: 100%; border-collapse: collapse">
																					<tbody>
																						<tr>
																							<th
																								style="border-bottom: 1px solid #ccc; text-align: left; font-weight: bold; padding: 5px; width: 132px">Proceso</th>
																							<th
																								style="border-bottom: 1px solid #ccc; text-align: left; font-weight: bold; padding: 5px; width: 100px">Archivo</th>
																							<th
																								style="border-bottom: 1px solid #ccc; text-align: left; font-weight: bold; padding: 5px">Mensaje</th>
																							<th
																								style="border-bottom: 1px solid #ccc; text-align: left; font-weight: bold; padding: 5px; width: 100px">Fecha</th>
																						</tr>

																						<tr>
																							<td
																								style="font: 14px/1.4285714 Arial, sans-serif; padding: 5px; border-bottom: 1px solid #ccc; line-height: 24px; color: #707070; width: 132px">
																								text process</td>

																							<td
																								style="font: 14px/1.4285714 Arial, sans-serif; padding: 5px; border-bottom: 1px solid #ccc; line-height: 24px; color: #707070">
																								archivo</td>

																							<td
																								style="font: 14px/1.4285714 Arial, sans-serif; padding: 5px; border-bottom: 1px solid #ccc; line-height: 24px; color: #707070; width: 50px; font-family: Monaco, monospace; font-size: 12px">
																								mensaje</td>

																							<td
																								style="font: 14px/1.4285714 Arial, sans-serif; padding: 5px; border-bottom: 1px solid #ccc; line-height: 24px; color: #707070; width: 100px">
																								<div>10 Apr 2019</div>
																							</td>
																						</tr>


																					</tbody>
																				</table>

																			</td>
																		</tr>
																	</tbody>
																</table>

															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>

										<tr>
											<td colspan="2"
												style="font: 14px/1.4285714 Arial, sans-serif; padding: 10px 0 0; border-top: 1px solid #ccc; line-height: 1">
												<a href="http://http://localhost:8083/idaCustom/"
												style="color: #3572b0; text-decoration: none"
												target="_blank">Ingresar al Sistema</a>
											</td>
										</tr>

									</tbody>
								</table>
								
								
							</h:panelGroup>
						</p:panel>
					</div>


					<div class="row">

						<p:panel id="tablePanel" styleClass="ui-main-panel">
							<p:dataTable var="item"
								value="#{historicRecsaController.sendSmsList}" reflow="true"
								rows="25" id="tableConections" widgetVar="tableConections"
								rowsPerPageTemplate="25,50,75,100" rowIndexVar="rowNumber"
								paginator="true"
								filteredValue="#{historicRecsaController.filteredSendSmsList}"
								paginatorPosition="bottom" scrollable="false"
								currentPageReportTemplate="({currentPage} de {totalPages})"
								paginatorTemplate="{totalPages} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
								styleClass="ui-main dataTable">

								<f:facet name="{totalPages}">
									<h:outputLabel
										value="Cantidad de Registros: #{historicRecsaController.sendSmsList.size()}"
										rendered="#{historicRecsaController.sendSmsList != null}"></h:outputLabel>
								</f:facet>

								<f:facet name="{Exporters}">
									<h:commandLink
										style="margin-right:15px;text-decoration:none;padding:2px;">
										<p:dataExporter type="pdf" target="tableConections"
											fileName="Consumo"></p:dataExporter>
										<p:graphicImage name="images/tables/iconopdfcolor2.png"
											style="width: 25px;" />
									</h:commandLink>
									<h:commandLink style="margin-right:15px;text-decoration:none;">
										<p:dataExporter type="xls" target="tableConections"
											fileName="Consumo"></p:dataExporter>
										<p:graphicImage name="images/tables/iconoexcelcolor2.png"
											style=" width: 25px;" />
									</h:commandLink>
								</f:facet>
								<p:column headerText="" width="100" styleClass="ui-col-center">

									<div
										class="col-sm-12 col-md-12 text-center ui-main-button-table-action">
										<p:commandLink title="Eliminar" oncomplete="PF('bui').hide();"
											onstart="PF('bui').show();" update="growl  tablePanel"
											action="#{historicRecsaController.refresh}">
											<i class="far fa-trash-alt"></i>
											<p:confirm header="Confirmación"
												message="Desea eliminar el registro?"
												icon="fas fa-question-circle" />
										</p:commandLink>
									</div>
								</p:column>


							</p:dataTable>
						</p:panel>
					</div>
				</h:form>



			</section>

		</section>

	</ui:define>

</ui:composition>
