<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<section class="content">
		<p:messages id="msgs" showIcon="true" closable="true" />
		<BR />
		<div class="row">
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="nombre" class="inp">
					<p:inputText id="nombre" title="Nombre" type="text" required="true"
						requiredMessage="El nombre es obligatorio"
						value="#{conectionController.conection.name}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="nombre" display="icon" />
					</p:inputText>
					<span class="label">Nombre</span>
					<span class="border"></span>
				</p:outputLabel>

			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="inputIP" class="inp">
					<p:inputText id="inputIP" required="true"
						requiredMessage="El IP es obligatorio"
						value="#{conectionController.conection.conn_ip}"
						validatorMessage="Dirección IPv4 Invalida">
						<f:validateRegex for="inputIP"
							pattern="^(?=.*[^\.]$)((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.?){4}$" />
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<p:message for="inputIP" display="icon" />
					</p:inputText>
					<span class="label">IP</span>
					<span class="border"></span>

				</p:outputLabel>
			</div>

			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="user" class="inp">
					<p:inputText id="user" title="Usuario" type="text" required="true"
						requiredMessage="El usuario es obligatorio"
						value="#{conectionController.conection.conn_user}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="user" display="icon" />
					</p:inputText>
					<span class="label">Usuario</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="password" class="inp">
					<p:password id="password" title="Contraseña" required="true"
						redisplay="true" requiredMessage="La contraseña es obligatoria"
						value="#{conectionController.conection.conn_pass}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="password" display="icon" />
						<span class="input-group-btn icon-see"> <h:outputLink
								class="btn btn-flat" id="fade" value="#">
								<i class="far fa-eye"></i>
							</h:outputLink>
						</span>
					</p:password>
					<p:tooltip id="toolTipFade" for="fade"
						value="#{conectionController.conection.conn_pass}" position="top" />
					<span class="label">Contraseña</span>
					<span class="border"></span>
				</p:outputLabel>


			</div>

			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="userIDA" class="inp">
					<p:inputText id="userIDA" title="Usuario IDA" type="text"
						requiredMessage="El usuario IDA es obligatorio"
						value="#{conectionController.conection.serv_ida_user}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="userIDA" display="icon" />
					</p:inputText>
					<span class="label">Usuario IDA</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="passwordIDA" class="inp">
					<p:password id="passwordIDA" title="Contraseña IDA"
						redisplay="true"
						requiredMessage="La contraseña IDA es obligatoria"
						value="#{conectionController.conection.serv_ida_pass}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="passwordIDA" display="icon" />
						<span class="input-group-btn icon-see"> <h:outputLink
								class="btn btn-flat" id="fadeIda" value="#">
								<i class="far fa-eye"></i>
							</h:outputLink>
						</span>
					</p:password>
					<p:tooltip id="toolTipFadeIda" for="fadeIda"
						value="#{conectionController.conection.serv_ida_pass}"
						position="top" />
					<span class="label">Contraseña IDA</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="inRepo" class="inp">
					<p:inputText id="inRepo" title="IN Repo" type="text"
						placeholder="/in" requiredMessage="El IN Repo es obligatorio"
						value="#{conectionController.conection.in_repo}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="inRepo" display="icon" />
					</p:inputText>
					<span class="label">IN Repo</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="outRepo" class="inp">
					<p:inputText id="outRepo" title="OUT Repo" type="text"
						requiredMessage="El OUT Repo es obligatorio" placeholder="/out"
						value="#{conectionController.conection.out_repo}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="outRepo" display="icon" />
					</p:inputText>
					<span class="label">OUT Repo</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="prefix" class="inp">
					<p:inputText id="prefix" title="Prefijo" type="text"
						requiredMessage="El Prefijo es obligatorio" placeholder="EMP"
						value="#{conectionController.conection.prefix}">
						<p:ajax listener="#{conectionController.refresh}"></p:ajax>
						<f:validateLength minimum="2" />
						<p:message for="prefix" display="icon" />
					</p:inputText>
					<span class="label">Prefijo</span>
					<span class="border"></span>
				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="inputTime" class="inp">
					<p:spinner min="20000" id="inputTime"
						value="#{conectionController.conection.generate_input_time}" />
					<span class="label">Input Time (Milliseconds)</span>
					<span class="border"></span>

				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="inputOutTime" class="inp">
					<p:spinner min="0" id="inputOutTime"
						value="#{conectionController.conection.generate_output_time}" />
					<span class="label">Output Time (Milliseconds)</span>
					<span class="border"></span>

				</p:outputLabel>
			</div>
			<div class="col-sm-12 col-md-6 ui-main">
				<p:outputLabel for="inputMissTime" class="inp">
					<p:spinner min="20000" id="inputMissTime"
						value="#{conectionController.conection.not_processed_time}" />
					<span class="label">Missed Processes Time (Milliseconds)</span>
					<span class="border"></span>

				</p:outputLabel>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12 ui-main text-right">
				<p:commandButton
					styleClass="ui-main-button-success-finally ui-main-button"
					immediate="false" value="Guardar"
					actionListener="#{conectionController.save}"
					update=":growl :formDialog :tablePanel msgs">
					<p:confirm header="Confirmación"
						message="Desea guardar el registro?" icon="fas fa-question-circle" />
				</p:commandButton>
				<p:commandButton styleClass="ui-main-button-error ui-main-button"
					immediate="false" value="Cerrar"
					update=" :formDialog :tablePanel msgs" onclick="PF('dlg1').hide();">
				</p:commandButton>
			</div>

		</div>
	</section>

</ui:composition>
